body{ 
    background-image: url('imgP/fondo.jpg');
    width: 90%;
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#personaje{
    position: absolute;
    top: 0;
    width: 70px;
    height: 70px;
}

#objeto1, #objeto2{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgb(0, 0, 0);
}

#objeto1{
    top: 300px;
    left: 800px;
}

#objeto2{
    top: 100px;
    left: 400px;
}